/* Author: newadministrator a.k.a e.victor					*/
/* Date: 08/2020 							       */
/* What: Dark Theme for uBlock Origin 					      */
/* Lang: .CSS 								     */
/* Disclaimer: Not involved with company uBlock Origin., theme based only.  */

@-moz-document url-prefix("moz-extension://cfdba070-e04c-4249-8053-aee30a63d5bc/") {
		/* UBLOCK ORIGIN */
		
	:root {	
		--ink-80: #fdfdff !important;
		--ink-90: #fff !important;
		--light-gray-10: #3b3b3c !important;
		--light-gray-30-a50: #646464 !important;
		--violet-70: #f7f6fb !important;
		--violet-80: #7741f9 !important;
		--ink-20: #12ee71 !important;
		--light-gray-40: #4f4f4f !important;
		--bg-code: hsl(0, 94.3%, 13.7%) !important;
		--fg-0-50: hsla(146.1, 91%, 26.3%, 0.83) !important;
		--fg-0-60: hsla(157.4, 83.5%, 76.3%, 0.97) !important;
		--fg-icon-info-lvl-1-dimmed: hsla(240, 17.4%, 91%, 0.5) !important;
		--ink-20: #acacac !important;
		--bg-popup-cell-1: hsl(0, 0%, 25.9%) !important;
		--fg-0-70: hsla(260, 5.7%, 69.2%, 0.7) !important;
		--light-gray-30: #f9f9fb29 !important;
	}
	
	button {
		background-color: cadetblue !important;
	}
	
	a {
		color: #3ce100 !important;
	}
	
	.CodeMirror pre {
		background: #151515f0 !important;
	}
	
	.cm-s-default .cm-value {
		color: #fff !important;
	}
	
	.cm-s-default .cm-keyword {
		color: #cecace !important;
	}
	
	.CodeMirror {
		color: #959393 !important;
	}
	
	:root:not(.hidpi) {
		--fieldset-header-ink: #dd676c !important;
	}
	
	.CodeMirror-scroll {
		background-color: #212223 !important;
	}
	
	.cm-s-default .cm-def {
		color: #fd6b00b3 !important;
	}
	
	.cm-search-widget-input input {
		border: 1px solid #bb1919 !important;
		background-color: dimgray !important;
	}
	
	.CodeMirror-gutter {
		background-color: black !important;
	}
	
	.CodeMirror-merge-copybuttons-left, .CodeMirror-merge-copybuttons-right {
		background-color: #181818 !important;
	}
	
	.CodeMirror-merge {
		border: 1px solid #040404 !important;
	}
	
	.CodeMirror-merge-gap {
		border-left: 1px solid #202020 !important;
		border-right: 1px solid #151515 !important;
		background: #1e1d1d !important;
	}
	
	.CodeMirror-gutters {
		border-right: 1px solid #202020 !important;
		background-color: #1e1e1e !important;
	}
	
	.permatoolbar .button:hover {
		background-color: #dd0a0a !important;
	}
	
	.permatoolbar .button {
		background-color: darkgray !important;
	}
	
	.permatoolbar {
		background-color: #2b2929 !important;
	}
	
	body[dir="ltr"] #pageSelector {
		background-color: #dd0a0a !important;
	}
	
	#netInspector #filterInput > input {
		background-color: cadetblue !important;
	}
	
	#netInspector #filterExprPicker div {
		background-color: cadetblue !important;
	}
	
	#netInspector #filterExprPicker span[data-filtex]:hover {
		background-color: #316c9f !important;
	}

	#netFilteringDialog > .panes > .details > div > span {
		background-color: cadetblue !important;
	}
	
	#netFilteringDialog > div.panes > .dynamic .entry {
		background-color: cadetblue !important;
	}
	
	#netFilteringDialog > div.panes > .dynamic .entry:hover {
		background-color: #559597f7 !important;
	}
	
	#modalOverlay > div > div:nth-of-type(1) {
		background-color: #3c3a3a !important;
	}
	
	#domInspector ul {
		background-color: #403e3e !important;
	}
	
	#domInspector li.isCosmeticHide, #domInspector li.isCosmeticHide ul, #domInspector li.isCosmeticHide li {
		background-color: #5e5c5c !important;
	}

	code, .code {
		background-color: #2b2929 !important;
	}
	
	.tool {
		fill: hsla(0, 0%, 95.7%, 0.4) !important;
	}
	
	#extraTools > span {
		color: hsla(0, 0%, 87.5%, 0.4) !important;
		fill: hsla(258.8, 50%, 93.7%, 0.4) !important;
	}
	
	#firewall > div > span,
	#actionSelector > #dynaCounts {
		background-color: #1a1a27; /*popup disabled*/
	}
	
	#loggerExportDialog .output {
		color: black !important;
	}
/*END*/		
}
